<form
  [formGroup]="form"
  (ngSubmit)="onFormSubmit($event)"
  class="flex flex-col lg:flex-row lg:items-center gap-3 text-xs"
>
  <!-- search input -->
  <p-iconfield class="w-full lg:w-auto">
    <p-inputicon class="pi pi-search" />
    <input
      pInputText
      pSize="small"
      aria-label="Buscar fraccionamiento por nombre o municipio"
      class="w-full lg:min-w-80"
      formControlName="hint"
      type="text"
      placeholder="Buscar por nombre o municipio…"
    />
  </p-iconfield>
</form>