<div class="flex items-center justify-center md:py-8">
  <div class="flex justify-between w-130">
    <p-button
      icon="pi pi-sign-out"
      class="scale-x-[-1]"
      text
      (click)="sessionService.logout()"
    />
    <app-brand-component />
    <p></p>
  </div>
</div>

<div class="flex items-center justify-center">
  <p-stepper [value]="activeStepIndex()">
    <!-- CABECERA DEL STEPPER -->
    <p-step-list>
      @for (step of steps(); track step.id; let i = $index) {
        <p-step [value]="i">
          {{ step.label }}
        </p-step>
      }
    </p-step-list>

    <!-- PANELS DE CONTENIDO DE CADA PASO -->
    <p-step-panels>
      @for (step of steps(); track step.id; let i = $index) {
        <p-step-panel [value]="i">
          <ng-template pTemplate="content">
            <div class="py-6">
              @switch (step.id) {
                @case ("welcome") {
                  <app-onboarding-welcome-component (next)="finishWelcome()" />
                }
                @case ("security") {
                  <app-onboarding-pwd-change-component
                    [isLoading]="store.loading()"
                    [user]="userStore.user()"
                    class="block"
                    (prev)="goBack()"
                    (doSubmit)="changePwd($event)"
                    (next)="changePwd()"
                  />
                }
                @case ("general-form") {
                  <app-onboarding-general-component
                    [isLoading]="store.loading()"
                    [profile]="userStore.profile()"
                    class="block"
                    (doSubmit)="updateProfile($event)"
                    (prev)="goBack()"
                    (next)="goNext()"
                  />
                }
                @case ("create-unit") {
                  <app-onboarding-unit-component
                    [unitRoles]="catalogsStore.UserUnitRoles()"
                    [unitTypes]="catalogsStore.UnitTypes()"
                    [streets]="contextStore.streets()"
                    [user]="userStore.user()"
                    (prev)="goBack()"
                    (next)="goNext()"
                    (doSubmit)="createUnit($event)"
                  />
                }
                @case ("complete") {
                  <app-onboarding-finish-component
                    [profile]="userStore.profile()"
                    (complete)="completeOnboarding()"
                  />
                }
              }
            </div>
          </ng-template>
        </p-step-panel>
      }
    </p-step-panels>
  </p-stepper>
</div>
<p class="text-center text-xs text-slate-400 dark:text-slate-500 mt-6">
  ¿Necesitas ayuda?
  <a href="#" class="text-cyan-600 dark:text-cyan-400 hover:underline"
    >Contáctanos</a
  >
</p>
