<p-panel header="Fraccionamientos">
  <ng-template #icons>
    <app-neigh-table-filters class="block" (filter)="filter($event)" />
  </ng-template>
  <p-table
    #dt
    [value]="items()"
    [rows]="pagination()?.limit || 10"
    [tableStyle]="{ 'min-width': '50rem' }"
    [breakpoint]="'960px'"
    [paginator]="pagination() && items().length > 0"
    [showPageLinks]="items().length > 0"
    [totalRecords]="pagination()?.total || 0"
    [loading]="isLoading()"
    [showCurrentPageReport]="true"
    [lazy]="true"
    [lazyLoadOnInit]="true"
    (onLazyLoad)="search($event)"
    showFirstLastIcon="false"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    paginatorStyleClass="mt-5"
  >
    <ng-template #header>
      @if (items().length > 0) {
        <tr>
          <th style="width: 10%"></th>
          <th style="width: 30%">Nombre</th>
          <th style="width: 25%">Calles</th>
          <th style="width: 25%">Estatus</th>
          <th style="width: 10%"></th>
        </tr>
      }
    </ng-template>
    <ng-template #body let-neigh>
      <tr>
        <td>
          <app-avatar-component [text]="neigh.name" />
        </td>
        <td>
          <p class="font-semibold capitalize">{{ neigh.name ?? "--" }}</p>
          <p class="text-sm text-slate-400">
            {{ neigh.address?.city?.displayName }},
            {{ neigh.address?.city?.state?.displayName }}
          </p>
        </td>

        <td>
          {{ neigh.streets.length }}
        </td>
        <td>
          <app-neigh-status-tag [isActive]="neigh.isActive" />
        </td>
        <td>
          <p-button
            icon="pi pi-search"
            severity="secondary"
            text
            size="small"
            (click)="view.emit(neigh.publicId)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="5">
          <div class="py-14 flex flex-col items-center text-center px-4">
            <div
              class="h-12 w-12 rounded-full bg-slate-100 dark:bg-slate-800 flex items-center justify-center text-slate-400 mb-3"
            >
              <i class="pi pi-sun"></i>
            </div>
            <p class="text-sm font-medium text-slate-700 dark:text-slate-200">
              No se encontraron fraccionamientos
            </p>
            <p class="text-xs text-slate-400 mt-1">
              Intenta con otros filtros o registra uno nuevo.
            </p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
