<section class="grid grid-cols-2 md:grid-cols-3 gap-3 md:gap-6">
  <!-- Total Residents -->
  <p-card class="bg-transparent">
    <ng-template #header>
      <div class="px-4 pt-4">
        <p class="text-sm">Residentes totales</p>
      </div>
    </ng-template>
    <div class="flex justify-between md:items-center">
      <h3
        class="text-lg md:text-4xl font-extrabold text-blue-800 tracking-tight"
      >
        2,482
      </h3>
      <div class="text-blue-600/5">
        <span class="pi pi-users md:text-9xl" data-icon="groups"></span>
      </div>
    </div>
  </p-card>
  <!--  -->
  <p-card class="bg-transparent">
    <ng-template #header>
      <div class="px-4 pt-4">
        <p class="text-sm">Residentes totales</p>
      </div>
    </ng-template>
    <div class="flex justify-between md:items-center">
      <h3
        class="text-lg md:text-4xl font-extrabold text-blue-800 tracking-tight"
      >
        2,482
      </h3>
      <div class="text-blue-600/5">
        <span class="pi pi-users md:text-9xl" data-icon="groups"></span>
      </div>
    </div>
  </p-card>
  <!-- Otros-->
  <p-card header="Residentes totales" class="hidden md:block bg-transparent">
    <div class="flex justify-between items-center">
      <h3 class="text-4xl font-extrabold text-blue-800 tracking-tight">
        2,482
      </h3>
      <div class="text-blue-600/5">
        <span class="pi pi-users text-9xl" data-icon="groups"></span>
      </div>
    </div>
  </p-card>
</section>
