<div class="space-y-6">
  <!-- HEADER -->
  <app-page-header
    title="Control Financiero"
    subTitle="Seguimiento de todos los movimientos del fraccionamiento."
  >
    @if (existsRecords()) {
      <div actions class="flex items-center gap-4">
        <p-overlaybadge [value]="filterCount()">
          <p-button
            icon="pi pi-filter"
            severity="secondary"
            (click)="changeFilters()"
          />
        </p-overlaybadge>
        <p-button
          label="Nuevo Movimiento"
          icon="pi pi-plus"
          (click)="addMovement()"
        />
      </div>
    }
  </app-page-header>

  @if (store.transactionsLoading()) {
    <app-cash-summary
      class="block"
      [isLoading]="true"
      [summary]="store.transactionsSummary()"
    />
  } @else {
    @if (!existsRecords()) {
      <app-cash-transaction-init (add)="addMovement()" />
    } @else {
      <!-- Quick Stats Cards -->
      <app-cash-summary
        class="block"
        [isLoading]="store.transactionsLoading()"
        [summary]="store.transactionsSummary()"
      />

      <app-cash-filters-chips
        class="block"
        [filters]="store.transactionsFilters()"
        [categories]="catalogsStore.transactionCategoriesEntities()"
        (removeFilter)="removeFilter($event)"
      />
      <!-- Timeline Journal -->
      <app-cash-movement-list
        class="block md:hidden"
        [records]="store.transactionsByDate()"
        [isLoading]="store.transactionsLoading()"
      />
      <p-card class="hidden md:block">
        <app-cash-transactions-table
          [transactions]="store.transactionsEntities()"
          [pagination]="store.transactionsPagination()"
          [isLoading]="false"
          (view)="view($event)"
          (update)="update($event)"
          (delete)="delete($event)"
        />
      </p-card>
    }
  }
</div>

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-col items-center w-[30vw] gap-4 py-4">
      <div class="bg-red-50 p-4 rounded-full">
        <i class="pi pi-history text-red-500 text-3xl"></i>
      </div>

      <div class="text-center px-2">
        <p class="text-xl font-bold text-slate-900 mb-2">
          {{ message.header }}
        </p>
        <p class="text-slate-600 leading-relaxed text-wrap">
          Esta acción <strong>no eliminará</strong> el registro de la base de
          datos. Se marcará como inactivo y se generará automáticamente un
          <span class="font-bold text-slate-900">movimiento inverso</span> para
          balancear las cuentas.
        </p>
      </div>

      <div
        class="w-full bg-slate-50 border border-slate-200 rounded-2xl p-4 mt-2"
      >
        <div class="flex items-start gap-3">
          <i class="pi pi-info-circle text-blue-500 mt-1"></i>
          <p class="text-xs text-slate-500 leading-tight">
            Este proceso es necesario para mantener la
            <strong>integridad auditable</strong> del fraccionamiento.
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
