<aside
  id="sidebar"
  class="sidebar-openn lg:sidebar-open shrink-0 h-full bg-slate-900 flex flex-col overflow-hidden"
>
  <div class="flex flex-col h-full w-72">
    <!-- Navegación (sección superior) -->
    <nav class="flex-1 overflow-y-auto thin-scroll px-4 pt-5 pb-3">
      @for (item of items(); track item.title) {
        @if (item.items && item.items.length > 0) {
          <p
            class="px-3 my-2 text-[11px] font-semibold uppercase tracking-wider text-slate-500"
          >
            {{ item.title }}
          </p>
          <ul class="space-y-1">
            @for (child of item.items; track child.title) {
              <li>
                <app-sidebar-item (navigate)="navigate.emit()" [item]="child" />
              </li>
            }
          </ul>
        } @else {
          <app-sidebar-item [item]="item" />
        }
      }
    </nav>

    <!-- Sección inferior: usuario, ayuda, logout -->
    <div class="border-t border-white/10 px-3 py-3 shrink-0">
      <div class="relative">
        <button
          id="userMenuBtn"
          (click)="toggleUserMenu()"
          class="w-full flex items-center justify-between gap-3 px-2 py-2 rounded-lg hover:bg-white/5 transition"
        >
          <div class="flex gap-3">
            <app-avatar-component
              [url]="user().avatar"
              [text]="user().fullName"
            />

            <div class="min-w-0 text-left">
              <p class="text-sm font-medium text-white truncate">
                @if (user().fullName !== "null") {
                  {{ user().fullName }}
                } @else {
                  {{ user().email }}
                }
              </p>

              <p class="text-xs text-slate-400 truncate">
                {{ user().role.displayName }}
              </p>
            </div>
          </div>
          <div class="block">
            <i class="pi pi-chevron-up text-sm text-slate-500"></i>
          </div>
        </button>

        @if (isUserMenuOpen()) {
          <div
            id="userMenu"
            class="absolute bottom-full left-0 mb-2 w-full rounded-xl border border-white/10 bg-slate-800 shadow-xl overflow-hidden"
          >
            <p-button
              fluid
              text
              label="Ayuda y soporte"
              icon="pi pi-question-circle"
              (click)="alert()"
              styleClass="text-sm text-slate-200 hover:bg-white/5! transition justify-start"
              severity="secondary"
            />

            <p-button
              fluid
              text
              label="Cerrar sesión"
              icon="pi pi-sign-out"
              (click)="logout.emit()"
              styleClass="border-0 text-sm text-rose-300 hover:bg-rose-500/10 transition border-t border-white/5 justify-start"
            />
          </div>
        }
      </div>
    </div>
  </div>
</aside>
