<header
  class="bg-white border-b h-16 flex items-center justify-between px-4 lg:px-8"
>
  <div class="flex items-center">
    <p-button
      icon="pi pi-bars"
      class="lg:hidden"
      [text]="true"
      (onClick)="toggleSidebar.emit()"
    >
    </p-button>
  </div>

  <div class="flex items-center gap-2">
    @if(user(); as user){
    <app-user-avatar [text]="user.fullName" />
    }

    <p-button
      icon="pi pi-sign-out"
      severity="danger"
      [rounded]="true"
      [text]="true"
      (click)="logout.emit()"
    >
    </p-button>
  </div>
</header>
