<app-table
  #tb
  [data]="users()"
  [columns]="cols"
  [isLoading]="isLoading()"
  [lazy]="true"
  [loadOnInit]="true"
  (filter)="search($event)"
  [pagination]="pagination()"
>
  <ng-template #caption>
    <div class="flex flex-col md:flex-row justify-between items-center gap-4">
      <div class="block">
        <h2 class="text-xl font-bold text-slate-800 tracking-tight">
          Usuarios & Admins
        </h2>
        <p class="text-sm text-slate-500">
          <span class="text-blue-500">{{pagination()?.total}} residentes</span>
          registrados
        </p>
      </div>

      <div class="flex items-center gap-3">
        <span class="p-input-icon-left w-full md:w-80">
          <input
            pInputText
            variant="filled"
            class="w-full"
            placeholder="Search by name or address..."
            (input)="tb.filterGlobal($any($event.target).value, 'contains')"
          />
        </span>
        <p-button label="Nuevo" icon="pi pi-plus" (click)="add.emit()" />
      </div>
    </div>
  </ng-template>

  <ng-template #body let-user let-field="field">
    @switch (field) { @case ('fullName') {
    <div class="flex items-center gap-2">
      <app-user-avatar [text]="user.fullName" />
      <div class="flex flex-col">
        <span class="font-bold text-slate-700 capitalize"
          >{{ user.fullName }}
        </span>
      </div>
    </div>
    } @case ('email') {
    <div class="flex flex-col text-sm text-slate-600">
      <span class="flex items-center gap-1"
        ><i class="pi pi-envelope text-[10px]"></i> {{ user.email }}</span
      >
      @if(user.phone){
      <span class="flex items-center gap-1"
        ><i class="pi pi-phone text-[10px]"></i> {{ user.phone | phone }}</span
      >

      }
    </div>
    } @case ('role') {
    <app-role-tag [role]="user.role" />

    } @case ('assignments') { @let unit = user.assignments[0]?.unit;
    <p class="font-semibold text-slate-700">{{ unit?.street }}</p>
    <small class="text-slate-400 font-mono"> #{{ unit?.identifier }}</small>

    } @case ('status') {

    <app-user-status-tag [status]="user.status" />

    } }
  </ng-template>

  <ng-template #actions let-user>
    <div class="flex justify-center gap-1">
      <p-button
        icon="pi pi-pencil"
        (click)="update.emit(user)"
        [text]="true"
        severity="secondary"
      />
      <p-button
        icon="pi pi-trash"
        [text]="true"
        severity="danger"
        (click)="remove.emit(user)"
      />
    </div>
  </ng-template>
</app-table>
