<div class="space-y-4 md:space-y-8">
  <!-- header -->
  <app-page-header
    [title]="isEdit() ? 'Editar Residente' : 'Configuración de Residente'"
    subTitle="Gestiona la información personal y los vínculos de propiedad del
  habitante."
  />

  <form
    class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8"
    [formGroup]="form"
    (ngSubmit)="doSubmit()"
  >
    <div class="space-y-1">
      <h3 class="font-bold text-slate-900">Datos Personales</h3>
      <p class="text-sm text-slate-500">
        Información básica para el acceso a la plataforma.
      </p>
    </div>

    <!-- personal data form -->
    <p-card class="md:col-span-2 md:space-y-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 gap-4">
        <!-- firstName -->
        <div class="form-control">
          <label for="fName" class="form-label required">Nombre</label>
          <input
            pInputText
            id="fName"
            formControlName="firstName"
            placeholder="Ej. John"
            fluid
            [invalid]="
              form.controls.firstName.invalid && form.controls.firstName.touched
            "
          />
          <app-form-validation-error
            [touched]="form.controls.firstName.touched"
            [errors]="form.controls.firstName.errors"
            label="Nombre"
          />
        </div>
        <!-- lastName -->
        <div class="form-control">
          <label for="lName" class="form-label">Apellidos</label>
          <input
            pInputText
            id="lName"
            formControlName="lastName"
            placeholder="Ej. Doe"
            fluid
            [invalid]="
              form.controls.lastName.invalid && form.controls.lastName.touched
            "
          />
          <app-form-validation-error
            [touched]="form.controls.lastName.touched"
            [errors]="form.controls.lastName.errors"
            label="Apellidos"
          />
        </div>
        <!-- email -->
        <div class="form-control">
          <label for="email" class="form-label required">Email</label>
          <input
            pInputText
            id="email"
            formControlName="email"
            placeholder="john@doe.com"
            fluid
            [invalid]="
              form.controls.email.invalid && form.controls.email.touched
            "
          />
          <app-form-validation-error
            [touched]="form.controls.email.touched"
            [errors]="form.controls.email.errors"
            label="Email"
          />
        </div>
        <!-- phone -->
        <div class="form-control">
          <label for="phone" class="form-label">Teléfono</label>
          <p-inputMask
            id="phone"
            formControlName="phone"
            mask="(999) 999-9999"
            placeholder="(000) 000-0000"
            fluid
            [invalid]="
              form.controls.phone.invalid && form.controls.phone.touched
            "
          />
          <app-form-validation-error
            [touched]="form.controls.phone.touched"
            [errors]="form.controls.phone.errors"
            label="Teléfono"
          />
        </div>
      </div>
    </p-card>

    <div class="space-y-1">
      <h3 class="font-bold text-slate-900">Relación con la Unidad</h3>
      <p class="text-sm text-slate-500">
        Define el estatus legal y de convivencia del usuario.
      </p>
    </div>

    <!-- Unity -->
    <p-card class="md:col-span-2 space-y-4">
      @if (isNewUnit()) {
        <div class="flex items-center justify-between mb-4">
          <p class="text-slate-500">Registrar nueva unidad</p>
          <p-button
            text="true"
            label="Buscar existente"
            severity="info"
            (click)="isNewUnit.set(false)"
          />
        </div>
        <div class="grid grid-cols-2 gap-4 gap-y-0" formGroupName="newUnit">
          <div class="form-control">
            <label class="form-label" for="streetName"
              >Calle / Privada / Torre</label
            >
            <input
              pInputText
              id="streetName"
              formControlName="streetName"
              placeholder="Ej. Privada Maple"
              fluid
            />
            <app-form-validation-error
              [touched]="form.controls.newUnit.controls.streetName.touched"
              [errors]="form.controls.newUnit.controls.streetName.errors"
              label="Calle"
            />
          </div>

          <div class="form-control">
            <label class="form-label" for="identifier"
              >Número / Identificador</label
            >
            <input
              pInputText
              id="identifier"
              formControlName="identifier"
              placeholder="Ej. Casa 10, Depto 4B"
              fluid
            />
            <app-form-validation-error
              [touched]="form.controls.newUnit.controls.identifier.touched"
              [errors]="form.controls.newUnit.controls.identifier.errors"
              label="Identificador"
            />
          </div>
        </div>
      } @else {
        <div class="col-span-2 flex flex-col gap-1.5 form-control">
          <div class="flex items-center justify-between">
            <label for="fName" class="form-label">Unidad</label>
            <p-button
              text="true"
              label="Crear"
              severity="info"
              tabIndex="-1"
              [style]="{ tabindex: '-1' }"
              [attr.tabindex]="-1"
              [pt]="{
                root: { class: 'p-0', tabindex: '-1' },
                host: { tabindex: '-1' },
              }"
              (click)="isNewUnit.set(true)"
            />
          </div>
          <p-autoComplete
            formControlName="unit"
            [suggestions]="suggestions()"
            (completeMethod)="searchUnit($event)"
            forceSelection="true"
            placeholder="Busca por calle o número..."
            optionLabel="labelFull"
            (onSelect)="selectUnit($event)"
            [invalid]="form.controls.unit.invalid && form.controls.unit.touched"
            [emptyMessage]="'No se encontró la unidad. Presiona Enter para crearla.'"
            fluid
          >
            <ng-template let-unit pTemplate="item">
              <div class="flex flex-col">
                <span class="font-bold text-sm">{{ unit.street }}</span>
                <small class="text-slate-500"># {{ unit.identifier }}</small>
              </div>
            </ng-template>
            <ng-template let-unit pTemplate="empty">
              <div class="flex flex-col">
                <span
                  >No se encontraron resultados.
                  <p-button
                    text="true"
                    label="Crear"
                    (click)="isNewUnit.set(true)"
                /></span>
              </div>
            </ng-template>
          </p-autoComplete>

          <app-form-validation-error
            [touched]="form.controls.unit.touched"
            [errors]="form.controls.unit.errors"
            label="Unidad"
          />
        </div>
      }
      <div class="col-span-2 mt-6 pt-2">
        <p class="text-xs font-bold text-slate-500 uppercase block mb-3">
          Tipo de ocupación
        </p>
        <div class="flex gap-6"></div>
      </div>

      <div class="pb-6 my-3 px-3 form-control">
        <div class="flex flex-wrap items-center gap-6">
          <div class="flex items-center gap-2">
            <p-checkbox
              formControlName="isOwner"
              [binary]="true"
              inputId="owner"
              variant="filled"
              [invalid]="
                form.errors?.['atLeastOneRoleRequired'] && form.touched
              "
              [pt]="{ box: 'rounded-full' }"
            ></p-checkbox>
            <label for="owner" class="text-sm text-slate-600 cursor-pointer"
              >Dueño</label
            >
          </div>

          <div class="flex items-center gap-2">
            <p-checkbox
              formControlName="isFamily"
              [binary]="true"
              inputId="family"
              variant="filled"
              [invalid]="
                form.errors?.['atLeastOneRoleRequired'] && form.touched
              "
              [pt]="{ box: 'rounded-full' }"
            ></p-checkbox>
            <label for="family" class="text-sm text-slate-600 cursor-pointer"
              >Familiar</label
            >
          </div>

          <div class="flex items-center gap-2">
            <p-checkbox
              formControlName="isTenant"
              [binary]="true"
              inputId="tenant"
              [invalid]="
                form.errors?.['atLeastOneRoleRequired'] && form.touched
              "
              variant="filled"
              [pt]="{ box: 'rounded-full' }"
            ></p-checkbox>
            <label for="tenant" class="text-sm text-slate-600 cursor-pointer"
              >Renta</label
            >
          </div>
        </div>
        @if (form.errors?.['atLeastOneRoleRequired'] && form.touched) {
          <p class="p-error pt-3 block animate-fade-in text-xs text-red-500">
            Un rol es requerido
          </p>
        }
      </div>

      <div class="flex items-center flex-col">
        <div
          class="form-control flex items-center justify-between gap-4 p-3 bg-slate-50 rounded-md border border-dashed border-slate-200 w-full"
        >
          <label for="role" class="text-sm font-medium text-slate-600"
            >¿Es Administrador?</label
          >
          <p-toggleswitch formControlName="isAdmin" size="large" />
        </div>
      </div>
    </p-card>

    <div class="flex justify-end items-center"></div>
    <div class="flex justify-end items-center md:col-span-2">
      <app-form-options
        [submitLabel]="isEdit() ? 'Actualizar' : 'Guardar'"
        [callState]="store.callState()"
        (doCancel)="doCancel()"
        [isLoading]="store.loading()"
      />
    </div>
  </form>
</div>

<p-confirmdialog>
  <ng-template #header>
    <!-- Encabezado con Rol Enfatizado -->
    <div class="">
      <p class="text-lg font-bold text-slate-800">
        {{ isEdit() ? 'Confirmar Actualización' : 'Confirmar Registro' }}
      </p>
      <p
        [class]="
          payload()?.isAdmin
            ? 'bg-indigo-100 text-indigo-700'
            : 'bg-emerald-100 text-emerald-700'
        "
        class="px-3 flex items-center justify-center py-1.5 rounded-full text-xs font-black uppercase tracking-wider"
      >
        {{ payload()?.isAdmin ? 'Administrador' : 'Residente' }}
      </p>
    </div>
  </ng-template>
  <ng-template #message let-message>
    <div
      class="flex flex-col gap-y-6 min-w-[320px] pt-5 border-t border-gray-100"
    >
      <div class="grid grid-cols-1 gap-y-3 text-sm">
        <!-- Datos Personales -->
        <div class="bg-slate-50 p-3 rounded-lg space-y-2">
          <div class="flex justify-between">
            <span class="text-slate-500">Nombre</span>
            <span class="font-medium capitalize"
              >{{ payload()?.firstName }} {{ payload()?.lastName }}</span
            >
          </div>
          <div class="flex justify-between">
            <span class="text-slate-500">Email</span>
            <span class="font-medium truncate ml-4">{{
              payload()?.email
            }}</span>
          </div>
          @if (payload()?.phone) {
            <div class="flex justify-between">
              <span class="text-slate-500">Teléfono</span>
              <span class="font-medium truncate ml-4">{{
                payload()?.phone
              }}</span>
            </div>
          }
        </div>

        <!-- Relacion -->
        <div class="bg-slate-50 p-3 my-4 rounded-lg space-y-2">
          <div class="flex justify-between">
            <span class="text-slate-500">Relacion</span>
            <span class="font-bold capitalize">
              @if (payload()?.isOwner) {
                <span>Dueño</span>
              } @else if (payload()?.isFamily) {
                <span>Familiar</span>
              } @else if (payload()?.isTenant) {
                <span>Renta</span>
              } @else {
                <span></span>
              }
            </span>
          </div>
        </div>

        <!-- Unidad con Alerta de Creación -->
        <div class="px-3">
          <div class="flex justify-between items-center">
            <span class="font-semibold text-slate-700 italic"
              >Unidad / Lote</span
            >
            @if (selectedUnit(); as unit) {
              <span class="font-bold text-blue-600">
                {{ unit.street }} {{ unit.identifier }}
              </span>
            } @else {
              <span class="font-bold text-blue-600">
                {{ payload()?.streetName }} {{ payload()?.identifier }}
              </span>
            }
          </div>

          <!-- Lógica para Unidad Nueva -->
          @if (!selectedUnit() && !payload()?.unitId) {
            <div
              class="mt-4 flex items-center gap-2 text-amber-600 text-[11px] bg-amber-50 p-2 rounded border border-amber-100"
            >
              <i class="pi pi-exclamation-triangle text-xs"></i>
              <span
                >La unidad no existe y se
                <span class="font-bold">creará automáticamente</span>.</span
              >
            </div>
          }
        </div>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>
