<p-panel
  [pt]="resolvedPt()"
  [showHeader]="showPanelHeader()"
  [toggleable]="toggleable()"
  [(collapsed)]="collapsed"
>
  <ng-content></ng-content>

  <ng-template #header>
    @if (headerTemplate(); as header) {
      <ng-container [ngTemplateOutlet]="header"></ng-container>
    } @else if (headerText(); as text) {
      <div class="flex flex-col border-l-3 md:border-none border-slate-500 ps-2 md:ps-0">
        <h2 class="text-base font-semibold text-slate-900 dark:text-white">{{ text }}</h2>
        @if (subHeader(); as subHeader) {
          <p class="text-sm text-slate-500 dark:text-slate-400 mt-1">
            {{ subHeader }}
          </p>
        }
      </div>
    }
  </ng-template>

  <ng-template #icons>
    @if (actionsTemplate(); as actions) {
      <ng-container [ngTemplateOutlet]="actions"></ng-container>
    }
  </ng-template>

  <ng-template #content>
    @if (contentTemplate(); as content) {
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    }
  </ng-template>

  <ng-template #footer>
    @if (footerTemplate(); as footer) {
      <ng-container [ngTemplateOutlet]="footer"></ng-container>
    }
  </ng-template>
</p-panel>
