<app-data-viewer-component
  [data]="items()"
  [columns]="cols"
  [isLoading]="isLoading()"
  [pagination]="pagination()"
  (filter)="search($event)"
>
  <ng-template #body let-unit let-field="field">
    @switch (field) {
      <!-- @case ("street") { -->
      <!--   <p class="text-slate-800 dark:text-white capitalize"> -->
      <!--     {{ unit.street?.name }} -->
      <!--   </p> -->
      <!-- } -->
      @case ("identifier") {
        <p class="text-slate-800 dark:text-white capitalize">
          {{ unit.street?.name }} - {{ unit.identifier }}
        </p>
        <p class="text-xs text-slate-500">{{ unit.type?.displayName }}</p>
      }
      @case ("userUnits") {
        <p>
          {{ unit.userUnits.length }}
        </p>
      }
    }
  </ng-template>
  <ng-template #actions let-neigh>
    <p-button
      label="Ver"
      icon="pi pi-search"
      severity="secondary"
      text
      size="small"
      (click)="onView(neigh.publicId)"
    />
  </ng-template>
</app-data-viewer-component>
