<div class="relative space-y-6">
  <!-- Header -->
<app-page-header
  title="Residentes"
  subTitle="Busca, filtra y administra los residentes de la plataforma."
>
  @if (!sessionService.isMobile()) {
    <p-button icon="pi pi-plus" label="Nuevo" (click)="create()" />
  }
</app-page-header>

  @if (store.error()) {
    <app-form-feedback [callState]="store.callState()" />
  }

  <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
    <app-residents-table
      class="col-span-3"
      [isLoading]="store.loading()"
      [items]="store.entities()"
      [pagination]="store.pagination()"
      [isMobile]="sessionService.isMobile()"
      [roles]="catStore.UserRoles()"
      [statuses]="catStore.UserStatus()"
      (paginate)="onSearch($event)"
      (view)="view($event)"
    />

    <app-resident-stats class="hidden md:block" [stats]="store.stats()" />
  </div>

  @if (sessionService.isMobile()) {
    <div class="absolute right-4 bottom-4 hidden md:hidden">
      <p-button
        icon="pi pi-plus"
        rounded
        size="large"
        aria-label="Registrar nuevo residente"
        (click)="create()"
      />
    </div>
  }
</div>
