<form [formGroup]="form" (ngSubmit)="doSubmit()" class="flex flex-col gap-y-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4">
    <div class="flex flex-col gap-2">
      <label for="fName" class="font-semibold text-sm text-slate-700"
        >Nombre</label
      >
      <input
        pInputText
        id="fName"
        formControlName="firstName"
        placeholder="Ej. John"
        fluid
        [invalid]="form.controls.firstName.invalid && form.controls.firstName.touched"
      />
      <app-form-validation-error
        [touched]="form.controls.firstName.touched"
        [errors]="form.controls.firstName.errors"
        label="Nombre"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="lName" class="font-semibold text-sm text-slate-700"
        >Apellidos</label
      >
      <input
        pInputText
        id="lName"
        formControlName="lastName"
        placeholder="Ej. Doe"
        fluid
        [invalid]="form.controls.lastName.invalid && form.controls.lastName.touched"
      />
      <app-form-validation-error
        [touched]="form.controls.lastName.touched"
        [errors]="form.controls.lastName.errors"
        label="Apellidos"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="email" class="font-semibold text-sm text-slate-700"
        >Email</label
      >
      <input
        pInputText
        id="email"
        type="email"
        formControlName="email"
        placeholder="john@doe.com"
        fluid
        [invalid]="form.controls.email.invalid && form.controls.email.touched"
      />
      <app-form-validation-error
        [touched]="form.controls.email.touched"
        [errors]="form.controls.email.errors"
        label="Email"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="phone" class="font-semibold text-sm text-slate-700"
        >Teléfono</label
      >
      <p-inputMask
        id="phone"
        formControlName="phone"
        mask="(999) 999-9999"
        placeholder="(000) 000-0000"
        fluid
        [invalid]="form.controls.phone.invalid && form.controls.phone.touched"
      />
      <app-form-validation-error
        [touched]="form.controls.phone.touched"
        [errors]="form.controls.phone.errors"
        label="Teléfono"
      />
    </div>

    <div
      class="flex items-center col-span-2 justify-between md:justify-end gap-4 p-3 bg-slate-50 rounded-md border border-dashed border-slate-200"
    >
      <label for="role" class="text-sm font-medium text-slate-600"
        >¿Es Administrador?</label
      >
      <p-toggleswitch class="block" formControlName="isAdmin" size="large" />
    </div>
  </div>

  <div class="pt-4 border-t border-slate-100">
    <app-form-options
      [isLoading]="store.loading()"
      [callState]="store.callState()"
      (doCancel)="doCancel()"
    />
  </div>
</form>
