<app-data-viewer-component
  [data]="items()"
  [columns]="cols"
  [isLoading]="isLoading()"
  [pagination]="pagination()"
  (filter)="search($event)"
>
  <ng-template #body let-user let-field="field">
    @switch (field) {
      @case ("fullName") {
        @if (user.fullName) {
          <div class="flex items-center gap-3">
            <app-avatar-component [text]="user.fullName" />
            <div class="flex flex-col">
              <p class="text-slate-800 dark:text-white capitalize">
                {{ user.fullName }}
              </p>
              <p class="text-xs text-slate-500 dark:text-slate-200">
                {{ user.role.displayName }}
              </p>
            </div>
          </div>
        } @else {
          <div class="text-slate-800 dark:text-white capitalize">--</div>
        }
        @if (!user.fullName) {
          <p class="text-xs text-slate-500 dark:text-slate-200">
            {{ user.role.displayName }}
          </p>
        }
      }
      @case ("email") {
        <p>{{ user.email }}</p>
      }
      @case ("status") {
        <app-resudent-status-component [status]="user.status" />
      }
    }
  </ng-template>
  <ng-template #actions let-neigh>
    <p-button
      label="Ver"
      icon="pi pi-search"
      severity="secondary"
      text
      size="small"
      (click)="onView(neigh.publicId)"
    />
  </ng-template>
</app-data-viewer-component>
