<p-panel showHeader="false" class="pt-5">
  <app-unit-form-component
    [streets]="streets()"
    [unitTypes]="unitTypes()"
    [unitRoles]="unitRoles()"
    [user]="user()"
    (doSubmit)="doSubmit.emit($event)"
  >
    <div class="flex items-center gap-3 pt-2">
      <p-button
        label="Atrás"
        icon="pi pi-arrow-left"
        variant="outlined"
        severity="secondary"
        [disabled]="isLoading()"
      />
      <p-button
        label="Continuar"
        icon="pi pi-arrow-right"
        iconPos="right"
        fluid
        type="submit"
        class="w-full"
        [loading]="isLoading()"
      />
    </div>
  </app-unit-form-component>
</p-panel>
