@if (sessionService.loggedInUserData(); as userData) {
  <main
    class="h-screen w-screen overflow-hidden bg-slate-50 dark:bg-slate-950 text-slate-800 dark:text-slate-200 antialiased"
  >
    <div class="flex h-full w-full flex-col">
      <!-- ============ TOPBAR ============ -->

      <app-nav-bar
        [user]="userData.user"
        [profile]="userData.profile"
        (toggleSidebar)="sessionService.toggleSession()"
        (logout)="sessionService.logout()"
      />

      <!-- ============ CUERPO: sidebar + contenido ============ -->
      <div class="relative flex flex-1 min-h-0">
        <!-- Overlay móvil -->
        <div
          id="overlay"
          class="hidden fixed inset-0 bg-slate-900/50 z-40 lg:hidden"
        ></div>

        <!-- ============ SIDEBAR ============ -->
        @if (!sessionService.isMobile()) {
          <app-sidebar
            [items]="menu()"
            [role]="userData.role"
            [user]="userData.user"
            [profile]="userData.profile"
            (logout)="sessionService.logout()"
          />
        }

        <!-- ============ CONTENIDO PRINCIPAL ============ -->
        <main class="flex-1 min-w-0 overflow-y-auto thin-scroll">
          <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-6 space-y-6">
            <router-outlet />
          </div>
        </main>
      </div>
    </div>
  </main>

  <p-drawer
    [visible]="sessionService.isSidebarOpen()"
    class="lg:hidden"
    blockScroll="true"
    [closeOnEscape]="true"
    [pt]="{ header: 'hidden', content: 'p-0', root: 'w-auto' }"
    showCloseIcon="false"
    (visibleChange)="sessionService.toggleSession($event)"
  >
    <app-sidebar
      [items]="menu()"
      [user]="userData.user"
      [role]="userData.role"
      [profile]="userData.profile"
      (navigate)="sessionService.toggleSession(false)"
      (logout)="sessionService.logout()"
    />
  </p-drawer>
}
