<p-panel header="Información Personal">
  <ng-template #icons>
    @if (mode() !== "form") {
      <p-button
        icon="pi pi-pencil"
        label="Editar"
        text
        severity="secondary"
        size="small"
        (click)="changeMode()"
      />
    }
  </ng-template>

  <app-profile-form-component
    [profile]="profile()"
    [disabledForm]="mode() === 'info'"
    (doSubmit)="doSubmit($event)"
  >
    <div class="form-control">
      <label class="form-label" for="email">Email </label>
      <input
        pInputText
        id="email"
        type="text"
        fluid
        [(ngModel)]="user().email"
        disabled
      />
    </div>

    @if (mode() === "form") {
      <app-form-options (doCancel)="cancel()" />
    }
  </app-profile-form-component>
</p-panel>
