<form
  [formGroup]="form"
  (ngSubmit)="onFormSubmit($event)"
  class="md:flex flex-wrap md:gap-3 items-center w-full"
>
  <p-iconfield>
    <p-inputicon class="pi pi-search" />

    <input
      pInputText
      placeholder="Buscar..."
      pSize="small"
      fluid
      formControlName="globalFilter"
      [variant]="isMobile() ? 'outlined' : 'filled'"
      aria-label="Buscar residente por nombre, correo o unidad"
    />
  </p-iconfield>

  <p-select
    formControlName="role"
    [options]="roleOptions()"
    optionLabel="displayName"
    optionValue="name"
    placeholder="Rol"
    size="small"
    class="hidden md:flex"
  />

  <p-select
    formControlName="status"
    [options]="statusOptions()"
    optionLabel="displayName"
    optionValue="name"
    placeholder="Estatus"
    size="small"
    class="hidden md:flex"
  />
</form>
