<pre>selected: {{selected()?.publicId}}</pre>
<app-table
  #tb
  [data]="transactions()"
  [columns]="cols"
  [isLoading]="isLoading()"
  [lazy]="true"
  [loadOnInit]="true"
  [pagination]="pagination()"
>
  <ng-template #body let-transaction let-field="field">
    @switch (field) { @case ('transactionDate') {
    <div>
      <span
        [class.text-slate-400]="!transaction.isActive"
        [class.text-slate-500]="transaction.isActive"
        [class.line-through]="!transaction.isActive"
        class="text-xs font-bold"
        >{{ transaction.transactionDate | date }}
      </span>
    </div>
    } @case ('title') {
    <div>
      <div class="flex items-center gap-3">
        <div
          [class.bg-slate-100]="!transaction.isActive"
          [class.text-slate-400]="!transaction.isActive"
          [class.bg-rose-50]="transaction.type === 'expense' && transaction.isActive"
          [class.text-rose-500]="transaction.type === 'expense' && transaction.isActive"
          [class.bg-emerald-50]="transaction.type === 'income' && transaction.isActive"
          [class.text-emerald-500]="transaction.type === 'income' && transaction.isActive"
          class="w-8 h-8 rounded-lg flex items-center justify-center shrink-0"
        >
          <i
            [class.pi-ban]="!transaction.isActive"
            [class.pi-arrow-down-left]="transaction.type === 'expense' && transaction.isActive"
            [class.pi-arrow-up-left]="transaction.type === 'income' && transaction.isActive"
            class="pi text-xs"
          ></i>
        </div>
        <div>
          <p
            [class.line-through]="!transaction.isActive"
            [class.text-slate-500]="!transaction.isActive"
            [class.text-slate-800]="transaction.isActive"
            class="text-sm font-bold text-slate-800 tracking-tight capitalize"
          >
            {{transaction.title}}
          </p>
          <p class="text-[10px] text-slate-400">{{transaction.description}}</p>
        </div>
      </div>
    </div>
    } @case ('amount') {

    <span
      [class.text-slate-400]="!transaction.isActive"
      [class.text-rose-600]="transaction.type === 'expense' && transaction.isActive"
      [class.text-emerald-600]="transaction.type === 'income'  && transaction.isActive"
      class="text-sm font-black"
    >
      <span [class.collapse]="transaction.type === 'income'">-</span>
      {{transaction.amount | currency}}</span
    >

    } @case('category'){ @if(transaction.isActive){

    <span
      class="inline-flex items-center gap-1.5 px-3 py-1 rounded-full text-xs font-bold shadow-sm ring-1 ring-inset"
      [style.background-color]="transaction.category.color + '1A'"
      [style.color]="transaction.category.color"
      [style.ring-color]="transaction.category.color + '33'"
    >
      <span
        class="w-1.5 h-1.5 rounded-full"
        [style.background-color]="transaction.category.color"
      >
      </span>

      {{ transaction.category.name }}
    </span>
    } @else{
    <span
      class="inline-flex bg-slate-100 items-center gap-1.5 px-3 py-1 rounded-full text-xs font-bold text-slate-500"
    >
      <span class="w-1.5 h-1.5 rounded-full"> </span>

      {{ transaction.category.name }}
    </span>

    } }}
  </ng-template>

  <ng-template #actions let-transaction>
    <div class="flex justify-center gap-1">
      <p-button
        [class.collapse]="!transaction.evidence"
        icon="pi pi-paperclip"
        text
        severity="secondary"
        disabled
      />

      <p-button
        (click)="menu.toggle($event); selected.set(transaction)"
        icon="pi pi-ellipsis-v"
        text
        severity="secondary"
      />
      <p-menu #menu [model]="items()" [popup]="true" appendTo="body" />
    </div>
  </ng-template>
</app-table>
